body{
  line-height:1.5;
}
#header{
  font-family:"Permanent Marker";
  font-size : 2.8rem;
  background-color:#FFA0B4;
  color:white;
  padding:5%
}

#title{
  background-color:#ffa0b4;
}
.title-block{
  color:white;
  font-family:"Montserrat-bold";
  font-size:2.0rem;
  padding-top:3.6%;
}

#testimonials{
  text-align:center;
  background-color:#ffa0b4;
  color: #fff;
  padding:10%;
  font-family:"Montserrat-bold";
}

.title-image{
  padding:4%;
  width:70%;
  text-align:center;
}

#features{
  background-color: #c3edef;
}
.div2{
  text-align:center;
  padding:5%;
  color:white;
  font-family:"Sacramento";
  font-weight:bolder;
  font-size:3rem;
}
.features-image{
  border-radius:50%;
  width:40%;
  padding-bottom:3%;
  text-align: center;

}
.testimonial-image1{
  border-radius:65%;
  width:20%;
}
.testimonial-image2{
  border-radius:55%;
  width:20%;
}
#footer{
  padding:5%;
  text-align:center;
  background-color:#c3edef;
  font-size:1.3rem;
  font-family:"Montserrat";
  line-height: 1.5;
}
